body
{
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#Instructions{
    float: left;
    border: 5px;
    border-color: white;
}

.heading
{
    width: 100%;
}

.modal-dialog {
    width: 90%;
}

h4 {
    background-color: white;
    line-height: 2;
    margin: 0px;
}
